<a href="https://colab.research.google.com/github/karinacaceres28/Neural_Network_Charity_Analysis/blob/main/RF_vs_ELM_20_5_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import pandas as pd

# Import our input dataset
path = "/loan_status.csv"
loans_df = pd.read_csv(path)
loans_df.head()

,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,Fully_Paid,99999999,Short_Term,741.0,2231892.0,8_years,Own_Home,Debt_Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
1,Fully_Paid,217646,Short_Term,730.0,1184194.0,<_1_year,Home_Mortgage,Debt_Consolidation,10855.08,19.6,10.0,13,1,122170,272052.0,1.0,0.0
2,Fully_Paid,548746,Short_Term,678.0,2559110.0,2_years,Rent,Debt_Consolidation,18660.28,22.6,33.0,4,0,437171,555038.0,0.0,0.0
3,Fully_Paid,99999999,Short_Term,728.0,714628.0,3_years,Rent,Debt_Consolidation,11851.06,16.0,76.0,16,0,203965,289784.0,0.0,0.0
4,Fully_Paid,99999999,Short_Term,740.0,776188.0,<_1_year,Own_Home,Debt_Consolidation,11578.22,8.5,25.0,6,0,134083,220220.0,0.0,0.0

In [5]:
# Generate our categorical variable list
loans_cat = loans_df.dtypes[loans_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
loans_df[loans_cat].nunique()

Loan_Status              2
Term                     2
Years_in_current_job    11
Home_Ownership           4
Purpose                  7
dtype: int64

In [6]:
# Check the unique value counts to see if binning is required
loans_df.Years_in_current_job.value_counts()

10+_years    13149
2_years       3225
3_years       2997
<_1_year      2699
5_years       2487
4_years       2286
1_year        2247
6_years       2109
7_years       2082
8_years       1675
9_years       1467
Name: Years_in_current_job, dtype: int64

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(loans_df[loans_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(loans_cat)
encode_df.head()

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Loan_Status_Fully_Paid,Loan_Status_Not_Paid,Term_Long_Term,Term_Short_Term,Years_in_current_job_10+_years,Years_in_current_job_1_year,Years_in_current_job_2_years,Years_in_current_job_3_years,Years_in_current_job_4_years,Years_in_current_job_5_years,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [8]:
# Merge one-hot encoded features and drop the originals
loans_df = loans_df.merge(encode_df,left_index=True, right_index=True)
loans_df = loans_df.drop(loans_cat,1)
loans_df.head()

<ipython-input-8-1496906ade04>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  loans_df = loans_df.drop(loans_cat,1)

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,297996,750090.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,217646,730.0,1184194.0,10855.08,19.6,10.0,13,1,122170,272052.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,548746,678.0,2559110.0,18660.28,22.6,33.0,4,0,437171,555038.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,99999999,728.0,714628.0,11851.06,16.0,76.0,16,0,203965,289784.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,99999999,740.0,776188.0,11578.22,8.5,25.0,6,0,134083,220220.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [9]:
# Remove loan status target from features data
y = loans_df.Loan_Status_Fully_Paid
X = loans_df.drop(columns=["Loan_Status_Fully_Paid","Loan_Status_Not_Paid"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.849

In [11]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
854/854 [==============================] - 3s 2ms/step - loss: 0.4251 - accuracy: 0.8326
Epoch 2/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3868 - accuracy: 0.8491
Epoch 3/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3817 - accuracy: 0.8495
Epoch 4/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3797 - accuracy: 0.8498
Epoch 5/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3782 - accuracy: 0.8496
Epoch 6/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3771 - accuracy: 0.8497
Epoch 7/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3763 - accuracy: 0.8494
Epoch 8/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3754 - accuracy: 0.8496
Epoch 9/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3750 - accuracy: 0.8498
Epoch 10/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3746 - accuracy: 0.8494
Epoch 11/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3737 - accuracy: 0.8496
Epoch 12/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3729 - accuracy: 0.8497
Epoch 13/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3722 - accuracy: 0.8497
Epoch 14/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3720 - accuracy: 0.8497
Epoch 15/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3715 - accuracy: 0.8501
Epoch 16/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3709 - accuracy: 0.8499
Epoch 17/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3704 - accuracy: 0.8496
Epoch 18/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3698 - accuracy: 0.8499
Epoch 19/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3695 - accuracy: 0.8502
Epoch 20/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3689 - accuracy: 0.8498
Epoch 21/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3683 - accuracy: 0.8505
Epoch 22/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3685 - accuracy: 0.8503
Epoch 23/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3676 - accuracy: 0.8508
Epoch 24/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3675 - accuracy: 0.8502
Epoch 25/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3668 - accuracy: 0.8502
Epoch 26/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3668 - accuracy: 0.8509
Epoch 27/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3660 - accuracy: 0.8503
Epoch 28/50
854/854 [==============================] - 3s 3ms/step - loss: 0.3658 - accuracy: 0.8502
Epoch 29/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3659 - accuracy: 0.8510
Epoch 30/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3655 - accuracy: 0.8503
Epoch 31/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3651 - accuracy: 0.8508
Epoch 32/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3650 - accuracy: 0.8501
Epoch 33/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3650 - accuracy: 0.8501
Epoch 34/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3642 - accuracy: 0.8503
Epoch 35/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3632 - accuracy: 0.8511
Epoch 36/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3638 - accuracy: 0.8507
Epoch 37/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3636 - accuracy: 0.8510
Epoch 38/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3633 - accuracy: 0.8518
Epoch 39/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3633 - accuracy: 0.8510
Epoch 40/50
854/854 [==============================] - 2s 3ms/step - loss: 0.3630 - accuracy: 0.8512
Epoch 41/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3625 - accuracy: 0.8515
Epoch 42/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3624 - accuracy: 0.8507
Epoch 43/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3619 - accuracy: 0.8516
Epoch 44/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3618 - accuracy: 0.8519
Epoch 45/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3617 - accuracy: 0.8510
Epoch 46/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3611 - accuracy: 0.8515
Epoch 47/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3614 - accuracy: 0.8509
Epoch 48/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3613 - accuracy: 0.8519
Epoch 49/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3604 - accuracy: 0.8514
Epoch 50/50
854/854 [==============================] - 2s 2ms/step - loss: 0.3605 - accuracy: 0.8517
285/285 - 0s - loss: 0.3925 - accuracy: 0.8445 - 457ms/epoch - 2ms/step
Loss: 0.39248016476631165, Accuracy: 0.8444981575012207